# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
.env
docker-compose.override.yml
*.pem
*.key
uniche_media_editor_deploy*

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Local storage / data
storage/
*.sqlite3
*.db

# IDE / OS
.idea/
.vscode/
.DS_Store
